Source: app-core
Section: libs
Priority: extra
Maintainer: Jayoun Lee <airjany@samsung.com>, Sewook Park <sewook7.park@samsung.com>, Jaeho Lee <jaeho81.lee@samsung.com>, Yoonkyong Lee <yk6629.lee@samsung.com>
Uploaders: Wonguk Jeong <wonguk.jeong@samsung.com>, Knhoon Baik <knhoon.baik@samsung.com>, Sangjung Woo <sangjung.woo@samsung.com>, Youmin Ha <youmin.ha@samsung.com>, Noha Park <noha.park@samsung.com>
Build-Depends: debhelper (>= 5), libslp-sensor-dev, libslp-setting-dev, libelm-dev, libaul-1-dev, dlog-dev, libslp-sysman-dev, libglib2.0-dev
Standards-Version: 3.7.2

Package: libappcore-common-dev
Section: libs
Architecture: any
Depends: libappcore-common-0 (= ${Source-Version}), libslp-sensor-dev, libslp-setting-dev, libaul-1-dev
XB-Generate-Docs: yes
Description: Samsung Linux platform common application basic (dev)
 Samsung Linux platform application basic.

Package: libappcore-common-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Samsung Linux platform common application basic
 Samsung Linux platform application basic.

Package: libappcore-efl-dev
Section: libs
Architecture: any
Depends: libappcore-common-0 (= ${Source-Version}), libappcore-common-dev, libelm-dev, libappcore-efl-0
XB-Generate-Docs: yes
Description: Samsung Linux platform efl application basic (dev)
 Samsung Linux platform application basic.

Package: libappcore-efl-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Samsung Linux platform efl application basic
 Samsung Linux platform application basic.

Package: libappcore-dbg
Section: debug
Architecture: any
Depends: ${misc:Depends}, libappcore-common-0 (= ${Source-Version}), libappcore-efl-0 (= ${Source-Version})
Description: Samsung Linux platform application basic (unstripped)
 Samsung Linux platform application basic.
